.timer {
    width: 200px;
    border-radius: 5px;
    border: solid 1px #EEEEEE;
    float: right;
    margin: 15px;
    padding: 20px;
}

h2 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.2px;
    display: inline;
    color: #616161;
}

.timeup {
    color: red;
    font-size: 25px;
}